# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Kiro
.kiro/
firebase.json
pubspec.lock
android/settings.gradle.kts
android/app/build.gradle.kts
android/app/google-services.json
lib/firebase_options.dart
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
android/settings.gradle.kts
android/app/build.gradle.kts
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
tools/setup_android_sdk_env.ps1
.firebaserc
.firebase/hosting.LmZpcmViYXNlXHNhbmR3aWNoc2hvcDNcaG9zdGluZw.cache
.firebase/sandwichshop3/hosting/.last_build_id
.firebase/sandwichshop3/hosting/favicon.png
.firebase/sandwichshop3/hosting/flutter_bootstrap.js
.firebase/sandwichshop3/hosting/flutter_service_worker.js
.firebase/sandwichshop3/hosting/flutter.js
.firebase/sandwichshop3/hosting/index.html
.firebase/sandwichshop3/hosting/main.dart.js
.firebase/sandwichshop3/hosting/manifest.json
.firebase/sandwichshop3/hosting/version.json
.firebase/sandwichshop3/hosting/assets/AssetManifest.bin
.firebase/sandwichshop3/hosting/assets/AssetManifest.bin.json
.firebase/sandwichshop3/hosting/assets/AssetManifest.json
.firebase/sandwichshop3/hosting/assets/FontManifest.json
.firebase/sandwichshop3/hosting/assets/NOTICES
.firebase/sandwichshop3/hosting/assets/assets/images/chickenTeriyaki_footlong.png
.firebase/sandwichshop3/hosting/assets/assets/images/chickenTeriyaki_six_inch.png
.firebase/sandwichshop3/hosting/assets/assets/images/logo.png
.firebase/sandwichshop3/hosting/assets/assets/images/meatballMarinara_footlong.png
.firebase/sandwichshop3/hosting/assets/assets/images/meatballMarinara_six_inch.png
.firebase/sandwichshop3/hosting/assets/assets/images/tunaMelt_footlong.png
.firebase/sandwichshop3/hosting/assets/assets/images/tunaMelt_six_inch.png
.firebase/sandwichshop3/hosting/assets/assets/images/veggieDelight_footlong.png
.firebase/sandwichshop3/hosting/assets/assets/images/veggieDelight_six_inch.png
.firebase/sandwichshop3/hosting/assets/fonts/MaterialIcons-Regular.otf
.firebase/sandwichshop3/hosting/assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
.firebase/sandwichshop3/hosting/assets/shaders/ink_sparkle.frag
.firebase/sandwichshop3/hosting/canvaskit/canvaskit.js
.firebase/sandwichshop3/hosting/canvaskit/canvaskit.js.symbols
.firebase/sandwichshop3/hosting/canvaskit/canvaskit.wasm
.firebase/sandwichshop3/hosting/canvaskit/skwasm_heavy.js
.firebase/sandwichshop3/hosting/canvaskit/skwasm_heavy.js.symbols
.firebase/sandwichshop3/hosting/canvaskit/skwasm_heavy.wasm
.firebase/sandwichshop3/hosting/canvaskit/skwasm.js
.firebase/sandwichshop3/hosting/canvaskit/skwasm.js.symbols
.firebase/sandwichshop3/hosting/canvaskit/skwasm.wasm
.firebase/sandwichshop3/hosting/canvaskit/chromium/canvaskit.js
.firebase/sandwichshop3/hosting/canvaskit/chromium/canvaskit.js.symbols
.firebase/sandwichshop3/hosting/canvaskit/chromium/canvaskit.wasm
.firebase/sandwichshop3/hosting/icons/Icon-192.png
.firebase/sandwichshop3/hosting/icons/Icon-512.png
.firebase/sandwichshop3/hosting/icons/Icon-maskable-192.png
.firebase/sandwichshop3/hosting/icons/Icon-maskable-512.png
.github/workflows/firebase-hosting-merge.yml
.github/workflows/firebase-hosting-pull-request.yml
